.calculator-container {
}

.button-row {
    display: flex;
}

.button-class {
    flex: 1 0 25%;
    font-size: 50px;
    font-weight: bold;
    height: 100px;
    background: white;
}

.zero-button {
    flex: 3 0 75%;
    font-size: 50px;
    font-weight: bold;
    height: 100px;
    background: white;
}

.clear-button {
    flex: 3 0 75%;
    font-size: 50px;
    height: 100px;
    background: white;
}

.action-button {
    flex: 1 0 25%;
    font-size: 50px;
    height: 100px;
    background: darkred;
    color: white;
}
